@media screen and (min-width: 990px) {
  .profile-image {
     margin:auto;
    width: 180px;
    height: auto;
    border-radius: 100%;
  }
  .field {
    font-weight: lighter;
    font-size: 18px;
  }
  .navbar_brand{
    border-bottom: solid 0.5px grey;
  }
  .navbar {
    background-color: rgb(26, 72, 99);
    width: 24%;
    position: fixed;
    height: 100vh;
    display: block;
  }
  .display{
   display:block;
  }
  .last{
    padding-bottom: 50px;
  }
  .item{
    font-size: 15px;
  }
}
@media screen and (max-width: 990px) {
  .profile-image {
    margin:auto;
    width: 160px;
    height: auto;
    border-radius: 100%;
  }
  .menu{
    border-top: 0.5px grey solid;
    border-bottom: 0.5px grey solid;
  }
  .field {
    font-weight: lighter;
    font-size: 15px;
  }
  .navbar {
    background-color: rgb(44, 109, 146);
    width: 100%;
    position: sticky;
    height: auto;
    display: block;
  }
  .display{
    display:none;
  }
.navbar_brand{
  margin-top: 35px;
}
.item{
  font-size: 15px;
}
}
.navbar {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x:hidden;
}
.navbar::-webkit-scrollbar {
  display: none;
}
button,.fa-bars {
  outline: none;
  color: grey;
  border: none;
}


.navbar_brand {
  color: white;
  widows: 100%;
  text-align: center;
  outline: none;
}
.navbar_brand:hover{
  cursor: pointer;
}
.name {
  font-size: 22px;
  font-weight: 500;
}
.item{
  width:100%;
  color: rgb(168, 161, 161);
  font-weight: light;
  pointer-events: unset;
  outline: none;
  margin-bottom: 20px;
}
.item:hover{
  color: white;
  font-size: 15.5px;
  cursor: pointer;
  opacity: 1 !important;

}

.active-link{
  color: white;
  font-size: 15px;
  font-weight: 500;
}
.contact{
  color: rgb(187, 173, 173);
  margin-top: 50px;
  font-size: 14px;
}
i{
  font-size: 22px;
  color: rgb(187, 173, 173);
}
i:hover{
  color: white;
  cursor: pointer;
}
.arrow{
  margin-right:5px;
  float:right;
  color: white;
  transform: rotate(180deg);
  display: none;
}

.display-arrow
{
  display: block;
}
.no-display-arrow{
  display: none;
}
.fa-play{
  color: white;
}
a{
 text-decoration: none;
 color: rgb(187, 173, 173);
}
a:hover{
  color: white;
  cursor: pointer;
}
