<div class="wrapper mx-md-5 mx-4">
  <div class="title pt-4">Scrumstubs.com</div>
  <div class="row">
    <div class="col col-md-6 col-12 border-right font-weight-light">
      <div class="sub-title mt-3 text-danger">
        Scrumstubs.com is a platform created in order to facilitate workshops, meet ups, conferences, and coaching in the world of the agile frameworks.
        The platform aims to provide a workflow driven solution which serves to expedite the process of managing and creating a large number of events.
      </div>
      <div class="mt-3 mb-4">
        <div>Scrumstubs was the second project after Aleph-technologies.com that I and the team had developed during my time at Aleph Technologies. The entire platform was built from scratch and later maintained and guaranteed the stability and success.
          Overall, about 1 month of the team's full-time work resulted in a responsive web application, with features like: </div>
      </div>
      <ul class="mt-4">
        <li><span class='font-weight-bold'>For user usage:</span>
          international marketplace allowing end-customers to browse workshops, meeting and courses, see their schedule and prices, and purchase them online;
          huge single page application for Partners (built in React.js) to manage their offers, schedules, prices, orders, customers and agents’ network;
          custom widgets written in JS, which Partners can put in order to advertise and sell their courses directly on their website;
          an ability for marketplace to list and sell the courses under a Partner’s or an Agent’s own branding and logo (and his own commision);
          notifications and orders management centre for customers and course organisers/pilots.
        </li>
        <li><span class='font-weight-bold'>For admin usage:</span>
          Create courses/events,
          Remove courses/events,
          View and manage orders,
          Manage courses/events update/delete,
          Role based access.
        </li>
      </ul>
      <div class="techs"><a href="https://www.scrumstubs.com/" target="_blank"><i
            class="fa fa-share-square-o" aria-hidden="true"></i> View online</a></div>
    </div>
    <div class="col col-md-6 col-12">
      <div class="title-2 font-weight-bold mb-4">Tech wrap-up</div>
      <li>Responsive React web application rendering well on a variety of devices and window or screen sizes.</li>
      <li>Back-end server using Python/Django taking advantage of well-developed RESTful API. </li>
      <li>Stripe for checkout feature.</li>
      <div class="mt-5 font-weight-light">Technologies used</div>
      <div class="mt-3">
        <a href="https://reactjs.org/" target="_blank"><span class="tech-use font-weight-light">React.js</span></a>
        <a href="https://nodejs.org/en/" target="_blank"><span class="techs">Python-Django</span></a>
        <a href="https://expressjs.com/en/starter/installing.html" target="_blank"><span class="tech-use font-weight-light">Bootstrap</span></a>
      </div>
    </div>
  </div>
  <div class="demo-img-fluid p-lg-4">
    <img src="../../assets/scrumstub/pic1.png" class="img-fluid p-lg-4 mt-4">
     <img src="../../assets/scrumstub/pic2.png" class="img-fluid p-lg-4 mt-4">
     <img src="../../assets/scrumstub/pic3.png" class="img-fluid p-lg-4 mt-4">
     <img src="../../assets/scrumstub/pic4.png" class="img-fluid p-lg-4 mt-4">
     <img src="../../assets/scrumstub/pic5.png" class="img-fluid p-lg-4 mt-4">
     <img src="../../assets/scrumstub/pic6.png" class="img-fluid p-lg-4 mt-4">
     <img src="../../assets/scrumstub/pic7.png" class="img-fluid p-lg-4 mt-4">
     <div class=" row">
        <div class="col-6">
            <img src="../../assets/scrumstub/img1.jpg" class="img-fluid p-lg-4 mt-4">
        </div>
        <div class="col-6">
            <img src="../../assets/scrumstub/img2.jpg" class="img-fluid p-lg-4 mt-4">
          </div>
     </div>
     <div class=" row">
        <div class="col-6">
            <img src="../../assets/scrumstub/img3.jpg" class="img-fluid p-lg-4 mt-4">
        </div>
        <div class="col-6">
            <img src="../../assets/scrumstub/img4.jpg" class="img-fluid p-lg-4 mt-4">
          </div>
     </div>
     <div class=" row">
        <div class="col-6">
            <img src="../../assets/scrumstub/img5.jpg" class="img-fluid p-lg-4 mt-4">
        </div>
        <div class="col-6">
            <img src="../../assets/scrumstub/img6.jpg" class="img-fluid p-lg-4 mt-4">
          </div>
     </div>
     <div class=" row">
        <div class="col-6">
            <img src="../../assets/scrumstub/img7.jpg" class="img-fluid p-lg-4 mt-4">
        </div>
        <div class="col-6">

          </div>
     </div>
     <div class=" row">
        <div class="col-6">

        </div>
        <div class="col-6">

          </div>
     </div>

  </div>
</div>
