.hello-message-1 {
  width: 6em;
  -webkit-animation: blinktextcurser 1s steps(50) 2 normal,
    typewriter 1.5s steps(30) 0.5s 1 normal both;
  overflow: hidden;
  white-space: nowrap;
}
.hello-message-2 {
  width: 16em;
  -webkit-animation: blinktextcurser 1s steps(50) 2 2s normal,
    typewriter2 2s steps(30) 2s 1 normal both;
  overflow: hidden;
  white-space: nowrap;
}
.hello-message-3 {
  width: 12em;
  -webkit-animation: blinktextcurser 1s steps(50) infinite 4s normal,
    typewriter3 2s steps(30) 4s 1 normal both;
  overflow: hidden;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .container-fluid {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/newhome.jpg");
    animation: background-changelaptop 10s alternate infinite;
    animation-delay: 5s;
  }
  .hello-message-1 {
    font-size: 60px;
    font-weight: bold;
    padding-left: 50px;
  }

  .hello-message-2 {
    font-size: 35px;
    padding-left: 50px;
  }
  .hello-message-3 {
    font-size: 35px;
    padding-left: 50px;
  }
  .link-1 {
    margin-top: 80px;
  }
  .link-2 {
    margin-top: 15px;
  }
  .button-link {
    margin-left: 50px;
  }
}

@media screen and (max-width: 768px) {
  .container-fluid {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("../../assets/mobile.jpg");
    animation: background-change 10s alternate infinite;
    animation-delay: 5s;
    -webkit-animation: background-change 10s alternate infinite;
    -webkit-animation-delay: 5s;
  }
  .hello-message-1 {
    font-size: 50px;
    font-weight: bold;
  }
  .hello-message-2 {
    font-size: 25px;
    color: white;
  }
  .hello-message-3 {
    font-size: 25px;
    color: white;
  }
  .link-1 {
    margin-top: 120px;
  }
  .link-2 {
    margin-top: 15px;
  }
}

.button-link {
  color: black;
  text-align: center;
  width: 200px;
  background-color: white;
  padding: 10px;
  transition: 0.5s;
}
.button-link:hover {
  background-color: black;
  color: white;
  width: 180px;
  cursor: pointer;
}
.link-1,
.link-2 {
  animation-name: appear;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes appear {
  from {
    opacity: 0;
    width: 120px;
  }
  to {
    opacity: 1;
    width: 200px;
  }
}
@keyframes typewriter {
  from {
    width: 0px;
  }
  to {
    width: 6em;
  }
}
@keyframes typewriter2 {
  from {
    width: 0px;
  }
  to {
    width: 15em;
  }
}
@keyframes typewriter3 {
  from {
    width: 0px;
  }
  to {
    width: 12em;
  }
}
@keyframes blinktextcurser {
  from {
    border-right: 0px;
  }
  to {
    border-right: 1px solid transparent;
  }
}

@keyframes background-change {
  from {
    background-image: url("../../assets/mobile.jpg");
  }
  to {
    background-image: url("../../assets/mobilehome.jpg");
  }
}

@keyframes background-changelaptop {
  from {
    background-image: url("../../assets/newhome.jpg");
  }
  to {
    background-image: url("../../assets/home.jpg");
  }
}
