<div class= "wrapper mx-md-5 mx-4">
    <div class="title mt-4">Secret-Storage</div>
    <div class="sub-title mt-3">An online secret place to keep your memories</div>
  <div class ="row">
    <div class="col col-md-6 col-12 border-right font-weight-light">
        <div class="sub-title mt-3">
          Have you ever tried to find a place to secretly store your memories?
          It is where you can look back to the beautiful moments that happened in the past.
          That’s what this web app is all about.
        </div>
        <div class="mt-3">
          <p>I built this web application during my summer break.It was my first front-end project. Whole web platform (back-end and front-end) was completely my work. Overall,
             about one month of my full-time work resulted in a responsive web application, with features like: </p>
        </div>
        <ul>
          <li>Sign up/log in/log out.</li>
          <li>Add/edit/remove a memory post.</li>
          <li>Add multiple images to a memory post</li>
        </ul>
        <div class="techs"><a href="http://yoursecretstorage.com/home" target="_blank"><i class="fa fa-share-square-o" aria-hidden="true"></i> View online</a></div>
    </div>
     <div class="col col-md-6 col-12">
        <div class ="title-2 font-weight-bold">Tech wrap-up</div>
        <div class = "front-end mt-2">Front-end application</div>
        <ul class="font-weight-light">
          <li>Stand-alone Frontend Angular app, which connects to the API server via HTTP</li>
          <li>Bootstrap-responsive web application rendering well on a variety of devices and window or screen sizes.</li>
        </ul>
        <div class = "back-end mt-2">Back-end server</div>
        <ul class="font-weight-light">
            <li>Written down in Node.js.</li>
            <li>Express framework - which handles API requests.</li>
        </ul>
        <div class="mt-5 font-weight-light small">Technologies used</div>
        <div class="mt-3 ">
            <a href="https://angular.io/" target="_blank"><span class="techs font-weight-light">Angular</span></a>
            <a href="https://nodejs.org/en/" target="_blank"><span class="techs  font-weight-light">Node.js</span></a>
            <a href="https://getbootstrap.com/" target="_blank"><span class="techs  font-weight-light">Bootstrap</span></a>
        </div>
     </div>
    </div>
  <div class= "demo-images">
    <img src= "../../../assets/images/home.png" class="images mt-4">
    <img src= "../../../assets/images/pic1.png" class="images mt-4">
    <img src= "../../../assets/images/pic2.png" class="images mt-4">
    <img src= "../../../assets/images/pic3.png" class="images mt-4">
    <img src= "../../../assets/images/pic4.png"class="images mt-4">
</div>
</div>
