<div class="container-fluid">
  <div class="header-content">
    <div class="title pt-5">PORTFOLIO</div>
    <hr>
    <div>See my works below. Unless explicitly stated otherwise, <span class="bold">all their back-end and front-end parts
        were completely
        done by me</span></div>
    <hr>
  </div>
  <div class="timeline-body">
    <div class="timeline-item">
      <div class="timeline-time one">Now</div>
      <div class="timeline-content row">
        <div class="col col-xl-6 col-12">
          <div class="header" [routerLink]="['/projects/angubetta']">
            <div class="title">AnguBetta Store</div>
            <div class="subtitle mt-3">
              An Online Betta fish store.
            </div>
          </div>
          <div class="mt-3 bold">AnguBetta is an E-commerce web app. The application worked as a Betta fish store in
            which users can explore an amazing world of Betta fish
            and pick their favorite one for a reasonable price.</div>
          <div class="mt-3 bold">Tech wrap-up:</div>
          <ol class="mt-3 mb-5">
            <li>Single-page Angular application rendering well on a variety of devices and window or screen sizes.</li>
            <li>Back-end server, written down in Node.js/Express.js - which handles API requests.</li>
            <li>Continuous deployment using AWS CodePipeLine and GitHub.</li>
          </ol>
          <a class="button-link" [routerLink]="['/projects/angubetta']">More details</a>
          <div class="mt-4">TECHNOLOGIES</div>
          <div class="mt-3 mb-4">
            <a href="https://angular.io/" target="_blank"><span class="techs">Angular</span></a>
            <a href="https://nodejs.org/en/" target="_blank"><span class="techs">Node.js</span></a>
            <a href="https://getbootstrap.com/" target="_blank"><span class="techs">Bootstrap</span></a>
            <a href="https://getbootstrap.com/" target="_blank"><span class="techs">MongoDB</span></a>
          </div>
        </div>
        <div class="col col-xl-6 col-12 mt-xl ">
          <img src="../../assets/angubetta/one.png" class="image-demo">
        </div>
      </div>
    </div>
    <hr/>

    <div class="timeline-item">
      <div class="timeline-time one">2020</div>
      <div class="timeline-content row">
        <div class="col col-xl-7 col-12">
          <div class="header" [routerLink]="['/projects/scrumstubs']">
            <div class="title">Scrumstubs.com</div>
            <div class="subtitle mt-3">
               Scrumstubs.com is a platform created in order to facilitate workshops, meet ups, conferences, and coaching in the world of the agile frameworks.
            </div>
          </div>
          <div class="mt-3 bold"></div>
          <div class="mt-3 bold">Tech wrap-up:</div>
          <ol class="mt-3 mb-5">
              <li>Responsive React web application rendering well on a variety of devices and window or screen sizes.</li>
              <li>Back-end server using Python/Django taking advantage of well-developed RESTful API. </li>
              <li>Stripe for checkout feature.</li>
          </ol>
          <a class="button-link" [routerLink]="['/projects/scrumstubs']">More details</a>
          <div class="mt-4">TECHNOLOGIES</div>
          <div class="mt-3 mb-4">
            <a href="https://reactjs.org/" target="_blank"><span class="techs font-weight-light">React</span></a>
            <a href="https://redux.js.org/" target="_blank"><span class="techs font-weight-light">Boostrap</span></a>
            <a href="https://nodejs.org/en/" target="_blank"><span class="techs">Python-Django</span></a>
          </div>
        </div>
        <div class="col col-xl-5 col-12 mt-xl ">
          <img src="../../assets/scrumstub/img1.jpg" class="image-demo img-fluid">
        </div>
      </div>
    </div>
    <hr/>

    <div class="timeline-item">
      <div class="timeline-time one">2020</div>
      <div class="timeline-content row">
        <div class="col col-xl-6 col-12">
          <div class="header" [routerLink]="['/projects/aleph']">
            <div class="title">Aleph-technologies.com</div>
            <div class="subtitle mt-3">
              Aleph-technologies.com a full-stack Event Management Solution from Aleph Technologies LLC that allows to register for workshops, meeting and coaching courses
            </div>
          </div>
          <div class="mt-3 bold"></div>
          <div class="mt-3 bold">Tech wrap-up:</div>
          <ol class="mt-3 mb-5">
              <li>Responsive React web application rendering well on a variety of devices and window or screen sizes.</li>
              <li>Back-end server using Python/Django taking advantage of well-developed RESTful API. </li>
              <li>Stripe for checkout feature.</li>
          </ol>
          <a class="button-link" [routerLink]="['/projects/aleph']">More details</a>
          <div class="mt-4">TECHNOLOGIES</div>
          <div class="mt-3 mb-4">
            <a href="https://reactjs.org/" target="_blank"><span class="techs font-weight-light">React</span></a>
            <a href="https://redux.js.org/" target="_blank"><span class="techs font-weight-light">Boostrap</span></a>
            <a href="https://nodejs.org/en/" target="_blank"><span class="techs">Python-Django</span></a>
          </div>
        </div>
        <div class="col col-xl-6 col-12 mt-xl ">
          <img src="../../assets/aleph/pic1.png" class="image-demo">
        </div>
      </div>
    </div>
    <hr/>

    <div class="timeline-item">
      <div class="timeline-time one">2020</div>
      <div class="timeline-content row">
        <div class="col col-xl-6 col-12">
          <div class="header" [routerLink]="['/projects/epicsteambuilder']">
            <div class="title">Epics Team Builder</div>
            <div class="subtitle mt-3">
              The program automates the process of building teams and allows users to select team formations based on a variety of desired factors.
            </div>
          </div>
          <div class="mt-3 bold"></div>
          <div class="mt-3 bold">Tech wrap-up:</div>
          <ol class="mt-3 mb-5">
              <li>Single-page React application</li>
              <li>Redux for state management and data transition</li>
              <li>Bootstrap and CSS grid for styling</li>
          </ol>
          <a class="button-link" [routerLink]="['/projects/epicsteambuilder']">More details</a>
          <div class="mt-4">TECHNOLOGIES</div>
          <div class="mt-3 mb-4">
            <a href="https://reactjs.org/" target="_blank"><span class="techs font-weight-light">React</span></a>
            <a href="https://redux.js.org/" target="_blank"><span class="techs font-weight-light">Boostrap</span></a>
            <a href="https://redux.js.org/" target="_blank"><span class="techs font-weight-light">Redux</span></a>
          </div>
        </div>
        <div class="col col-xl-6 col-12 mt-xl ">
          <img src="../../assets/epicsteambuilder/pic1.png" class="image-demo img-fluid">
        </div>
      </div>
    </div>
    <hr/>

    <div class="timeline-item">
      <div class="timeline-time two">2019-2020</div>
      <div class="timeline-content row">
        <div class="col col-xl-7 col-12">
          <div class="header" [routerLink]="['/projects/timefoxwatch']">
            <div class="title">Timefoxwatch.com</div>
            <div class="subtitle mt-3">
              An online watch store
            </div>
          </div>
          <div class="mt-3 bold">Timefoxwatch.com is an online watch store that was developed in React-Redux environment
            with advanced features of a real-life eCommerce web application.</div>
          <div class="mt-3 bold">Tech wrap-up:</div>
          <ol class="mt-3 mb-5">
              <li>Responsive React/Redux web application rendering well on a variety of devices and window or screen sizes.</li>
              <li>Back-end server using Node.js, Express.js and Mongo taking advantage of well-developed RESTful API. </li>
              <li>Braintree Sandbox as a testing environment for checkout feature.</li>
          </ol>
          <a class="button-link" [routerLink]="['/projects/timefoxwatch']">More details</a>
          <div class="mt-4">TECHNOLOGIES</div>
          <div class="mt-3 mb-4">
            <a href="https://reactjs.org/" target="_blank"><span class="techs font-weight-light">React</span></a>
            <a href="https://redux.js.org/" target="_blank"><span class="techs font-weight-light">Redux</span></a>
            <a href="https://nodejs.org/en/" target="_blank"><span class="techs">Node.js</span></a>
            <a href="https://expressjs.com" target="_blank"><span class="techs font-weight-light">Express</span></a>
          </div>
        </div>
        <div class="col col-xl-5 col-12 mt-xl ">
          <img src="../../assets/timefoxwatch/phone10.jpg" class="image-demo">
        </div>
      </div>
    </div>
    <hr/>
    <div class="timeline-item">
      <div class="timeline-time two">2019-2020</div>
      <div class="timeline-content row">
        <div class="col col-xl-6 col-12">
          <div class="header" [routerLink]="['/projects/authentication']">
            <div class="title">Ultimate-Authentication</div>
            <div class="subtitle mt-3">
                An authentication system for web apps
            </div>
          </div>
          <div class="mt-3 bold">This project is an ultimate authentication system for web apps with features like account activation, forgot password, reset password, login with Facebook as well
             as Google using private and protected routes for authenticated user and users with the role of admin.</div>
          <div class="mt-3 bold">Tech wrap-up:</div>
          <ol class="mt-3 mb-5">
              <li>Front-end was written down in React environment.</li>
              <li>Back-end server using Node.js, Express.js and MongoDB taking advantage of well-developed RESTful API. </li>
          </ol>
          <a class="button-link" [routerLink]="['/projects/authentication']">More details</a>
          <div class="mt-4">TECHNOLOGIES</div>
          <div class="mt-3 mb-4">
            <a href="https://reactjs.org/" target="_blank"><span class="techs font-weight-light">React</span></a>
            <a href="https://nodejs.org/en/" target="_blank"><span class="techs">Node.js</span></a>
            <a href="https://expressjs.com" target="_blank"><span class="techs font-weight-light">Express.js</span></a>
          </div>
        </div>
        <div class="col col-xl-6 col-12 mt-xl ">
          <img src="../../assets/authenticate/img2.png" class="image-demo">
        </div>
      </div>
    </div>
    <hr/>
    <div class="timeline-item">
      <div class="timeline-time one">2019</div>
      <div class="timeline-content row">
        <div class="col col-xl-6 col-12">
          <div class="header" [routerLink]="['/projects/budget-app']">
            <div class="title">Expensify</div>
            <div class="subtitle mt-3">
              An online expense tracking app
            </div>
          </div>
          <div class="mt-3 bold">The application has a variety of features, including manage expenses.
            search, view history purchases with amount/date/name filters, and
            register for membership</div>
          <div class="mt-3 bold">Tech wrap-up:</div>
          <ol class="mt-3 mb-5">
            <li>React/Redux application</li>
            <li>Firebase back-end services, including authentication, database and API.</li>
            <li>Responsive web application rendering well on a variety of devices and window or screen sizes.</li>
          </ol>
          <a class="button-link" [routerLink]="['/projects/budget-app']">More details</a>
          <div class="mt-4">TECHNOLOGIES</div>
          <div class="mt-3 mb-4">
            <a href="https://reactjs.org/" target="_blank"><span class="techs font-weight-light">React</span></a>
            <a href="https://redux.js.org/" target="_blank"><span class="techs font-weight-light">Redux</span></a>
            <a href="https://firebase.google.com/" target="_blank"><span
                class="techs font-weight-light">Firebase</span></a>
          </div>
        </div>
        <div class="col col-xl-6 col-12 mt-xl ">
          <img src="../../assets/budget-app/one.png" class="image-demo">
        </div>
      </div>
    </div>
    <hr/>
    <div class="timeline-item">
      <div class="timeline-time one">2019</div>
      <div class="timeline-content row">
          <div class="col col-xl-6 col-12">
            <div class="header" [routerLink]="['/projects/portfolio-site']">
              <div class="title">My Professional Website</div>
              <div class="subtitle mt-3">
                  A personal website/portfolio
              </div>
            </div>
            <div class="mt-3"></div>
            <div class="mt-3 bold">Tech wrap-up:</div>
            <ol class="mt-3 mb-5">
                <li>Single-page web application ultilizing Angular routing.</li>
                <li>Reponsive site rendering well on a variety of devices and window or screen sizes with Bootstrap grid system and Angular Material.</li>
                <li>Static website hosting with AWS S3 with custom domain.</li>
            </ol>
            <a class="button-link" [routerLink]="['/projects/portfolio-site']">More details</a>
            <div class="mt-4">TECHNOLOGIES</div>
            <div class="mt-3 mb-4">
              <a href="https://angular.io/" target="_blank"><span class="techs">Angular</span></a>
              <a href="https://material.angular.io/" target="_blank"><span class="techs">Angular Material</span></a>
              <a href="https://getbootstrap.com/" target="_blank"><span class="techs">Bootstrap</span></a>
            </div>
          </div>
          <div class="col col-xl-6 col-12 mt-xl ">
            <img src="../../assets/portfolio/po1.png" class="image-demo">
          </div>
        </div>
    </div>
    <hr/>
    <div class="timeline-item last">
      <div class="timeline-time two">2018-2019</div>
      <div class="timeline-content row">
        <div class="col col-xl-6 col-12">
          <div class="header" [routerLink]="['/projects/storing-app']">
            <div class="title">Secret-Storage</div>
            <div class="subtitle mt-3">
              An online secret place to keep your memories.
            </div>
          </div>
          <div class="mt-3 bold">This application allows you: </div>
          <ul class="mt-3">
            <li>Register for membership (Sign-up/sign-in)</li>
            <li>View/Add/Remove/Edit a post</li>
            <li>Select mutilple images for a post</li>
          </ul>
          <div class="mt-3 bold">Tech wrap-up:</div>
          <ol class="mt-3 mb-5">
            <li>Responsive web application rendering well on a variety of devices and window or screen sizes.</li>
            <li>Stand-alone Frontend Angular app, which connects to the API server via HTTP.</li>
            <li>Back-end server, written down in Node.js/Express.js - which handles API requests.</li>
          </ol>
          <a class="button-link" [routerLink]="['/projects/storing-app']">More details</a>
          <div class="mt-4">TECHNOLOGIES</div>
          <div class="mt-3 mb-4">
            <a href="https://angular.io/" target="_blank"><span class="techs">Angular</span></a>
            <a href="https://nodejs.org/en/" target="_blank"><span class="techs">Node.js</span></a>
            <a href="https://getbootstrap.com/" target="_blank"><span class="techs">Bootstrap</span></a>
          </div>
        </div>
        <div class="col col-xl-6 col-12 mt-xl ">
          <img src="../../assets/images/home.png" class="image-demo">
        </div>
      </div>
    </div>
  </div>
</div>
