<div class="container-fluid">
  <div class="header-title mt-3 mt-md-4">PORTFOLIO</div>
  <hr>
  <div>See my works below. Unless explicitly stated otherwise, <span class="bold">all their back-end and front-end parts
      were completely
      done by me</span></div>
  <hr>
  <div class="timeline-body">
    <div class="timeline-item">
      <div class="timeline-time one">Now</div>
      <div class="timeline-content row">
        <div class="col col-xl-6 col-12">
          <div class="header" [routerLink]="['/projects/angubetta']">
            <div class="title">AnguBetta Store</div>
            <div class="subtitle mt-3">
              An Online Betta fish store.
            </div>

          </div>
          <div class="mt-3 bold">AnguBetta is an E-commerce web app. The application worked as a Betta fish store in
            which users can explore an amazing world of Betta fish
            and pick their favorite one for a reasonable price.</div>
          <div class="mt-3 bold">Tech wrap-up:</div>
          <ol class="mt-3 mb-5">
            <li>Single-page Angular application rendering well on a variety of devices and window or screen sizes.</li>
            <li>Back-end server, written down in Node.js/Express.js - which handles API requests.</li>
            <li>Continuous deployment using AWS CodePipeLine and GitHub.</li>
          </ol>
          <a class="button-link" [routerLink]="['/projects/angubetta']">More details</a>
          <div class="mt-4">TECHNOLOGIES</div>
          <div class="mt-3 mb-4">
            <a href="https://angular.io/" target="_blank"><span class="techs">Angular</span></a>
            <a href="https://nodejs.org/en/" target="_blank"><span class="techs">Node.js</span></a>
            <a href="https://getbootstrap.com/" target="_blank"><span class="techs">Bootstrap</span></a>
            <a href="https://getbootstrap.com/" target="_blank"><span class="techs">MongoDB</span></a>
          </div>
        </div>
        <div class="col col-xl-6 col-12 mt-xl ">
          <img src="../../assets/angubetta/one.png" class="image-demo">
        </div>
      </div>
    </div>
    <hr>
    <div class="timeline-item">
      <div class="timeline-time two">2019-2020</div>
      <div class="timeline-content row">
        <div class="col col-xl-6 col-12">
          <div class="header" [routerLink]="['/projects/budget-app']">
            <div class="title">Expensify</div>
            <div class="subtitle mt-3">
              An online expense tracking app
            </div>
          </div>
          <div class="mt-3 bold">The application has a variety of features, including manage expenses.
            search, view history purchases with amount/date/name filters, and
            register for membership</div>
          <div class="mt-3 bold">Tech wrap-up:</div>
          <ol class="mt-3 mb-5">
            <li>React/Redux application</li>
            <li>Firebase back-end services, including authentication, database and API.</li>
            <li>Responsive web application rendering well on a variety of devices and window or screen sizes.</li>
          </ol>
          <a class="button-link" [routerLink]="['/projects/budget-app']">More details</a>
          <div class="mt-4">TECHNOLOGIES</div>
          <div class="mt-3 mb-4">
            <a href="https://reactjs.org/" target="_blank"><span class="techs font-weight-light">REACT</span></a>
            <a href="https://redux.js.org/" target="_blank"><span class="techs font-weight-light">REDUX</span></a>
            <a href="https://firebase.google.com/" target="_blank"><span
                class="techs font-weight-light">FIREBASE</span></a>
          </div>
        </div>
        <div class="col col-xl-6 col-12 mt-xl ">
          <img src="../../assets/budget-app/one.png" class="image-demo">
        </div>
      </div>
    </div>
    <hr>
    <div class="timeline-item">
      <div class="timeline-time two">2018-2019</div>
      <div class="timeline-content">
        TBD
      </div>
    </div>
    <hr>
    <div class="timeline-item">
      <div class="timeline-time two">2018-2019</div>
      <div class="timeline-content">
          TBD
      </div>
    </div>
    <hr>
    <div class="timeline-item last">
      <div class="timeline-time one">2018</div>
      <div class="timeline-content row">
        <div class="col col-xl-6 col-12">
          <div class="header" [routerLink]="['/projects/storing-app']">
            <div class="title">Secret-Storage</div>
            <div class="subtitle mt-3">
              An online secret place to keep your memories.
            </div>
          </div>
          <div class="mt-3 bold">This application allows you: </div>
          <ul class="mt-3">
            <li>Register for membership (Sign-up/sign-in)</li>
            <li>View/Add/Remove/Edit a post</li>
            <li>Select mutilple images for a post</li>
          </ul>
          <div class="mt-3 bold">Tech wrap-up:</div>
          <ol class="mt-3 mb-5">
            <li>Responsive web application rendering well on a variety of devices and window or screen sizes.</li>
            <li>Stand-alone Frontend Angular app, which connects to the API server via HTTP.</li>
            <li>Back-end server, written down in Node.js/Express.js - which handles API requests.</li>
          </ol>
          <a class="button-link" [routerLink]="['/projects/storing-app']">More details</a>
          <div class="mt-4">TECHNOLOGIES</div>
          <div class="mt-3 mb-4">
            <a href="https://angular.io/" target="_blank"><span class="techs">Angular</span></a>
            <a href="https://nodejs.org/en/" target="_blank"><span class="techs">Node.js</span></a>
            <a href="https://getbootstrap.com/" target="_blank"><span class="techs">Bootstrap</span></a>
          </div>
        </div>
        <div class="col col-xl-6 col-12 mt-xl ">
          <img src="../../assets/images/home.png" class="image-demo">
        </div>
      </div>
    </div>
  </div>
</div>
