<div class ="container-fluid">
    <div>PORTFOLIO</div>
    <div>See my works below. Unless explicitly stated otherwise, all their back-end and front-end parts were completely done by me</div>
    <hr>
    <div class="timeline-body">
      <div class="timeline-item">
        <div class="timeline-time one">Now</div>
        <div class="timeline-content">
            During this time I took a temporary break from freelancing. Instead, I was an employee in medium-size tech companies. This gave me a lot of experience and hindsight on how a proper team collaboration,
            recruitment, and project management process should look like. See my CV for more details.
        </div>
      </div>
      <hr>
      <div class="timeline-item">
          <div class="timeline-time one">2020</div>
          <div class="timeline-content">
              During this time I took a temporary break from freelancing. Instead, I was an employee in medium-size tech companies. This gave me a lot of experience and hindsight on how a proper team collaboration,
              recruitment, and project management process should look like. See my CV for more details.
          </div>
        </div>
        <hr>
        <div class="timeline-item">
            <div class="timeline-time two">2019-2020</div>
            <div class="timeline-content">
                During this time I took a temporary break from freelancing. Instead, I was an employee in medium-size tech companies. This gave me a lot of experience and hindsight on how a proper team collaboration,
                recruitment, and project management process should look like. See my CV for more details.
            </div>
          </div>
          <hr>
          <div class="timeline-item">
              <div class="timeline-time two">2018-2019</div>
              <div class="timeline-content">
                  During this time I took a temporary break from freelancing. Instead, I was an employee in medium-size tech companies. This gave me a lot of experience and hindsight on how a proper team collaboration,
                  recruitment, and project management process should look like. See my CV for more details.
              </div>
            </div>
            <hr>
            <div class="timeline-item">
                <div class="timeline-time two">2018-2019</div>
                <div class="timeline-content">
                    During this time I took a temporary break from freelancing. Instead, I was an employee in medium-size tech companies. This gave me a lot of experience and hindsight on how a proper team collaboration,
                    recruitment, and project management process should look like. See my CV for more details.
                </div>
              </div>
              <hr>
              <div class="timeline-item last">
                  <div class="timeline-time one">2018</div>
                  <div class="timeline-content row">
                      <div class ="col col-xl-6 col-12">
                          <div class="title">Secret-Storage</div>
                          <div class="subtitle mt-3">A simple single-page application working like
                             a secret place(website) to keep your memories.
                          </div>
                          <div class="mt-3 bold">This application allows you: </div>
                          <ul class="mt-3">
                            <li>Register for membership (Sign-up/sign-in)</li>
                            <li>View/Add/Remove/Edit a post</li>
                            <li>Select mutilple images for a post</li>
                          </ul>
                          <div class="mt-3 bold">Tech wrap-up:</div>
                          <ol class="mt-3">
                            <li>Responsive web application rendering well on a variety of devices and window or screen sizes.</li>
                            <li>Stand-alone Frontend Angular app, which connects to the API server via HTTP.</li>
                            <li>Back-end server, written down in Node.js/Express.js - which handles API requests.</li>
                          </ol>
                          <div class="button-link mt-3">More details</div>
                          <div class="mt-4">TECHNOLOGIES</div>
                          <div class ="mt-3 mb-4">
                            <span class="techs">Angular</span>
                            <span class="techs">Node.js</span>
                            <span class="techs">Bootstrap</span>
                          </div>
                      </div>
                      <div class ="col col-xl-6 col-12 mt-xl ">
                          <div class="image1"></div>
                      </div>
                  </div>
                </div>
    </div>
</div>
