<div class="wrapper mx-md-5 mx-4">
  <div class="title pt-4">Timefoxwatch.com</div>
  <div class="sub-title pt-3">An eCommerce web application</div>
  <div class="row">
    <div class="col col-md-6 col-12 border-right font-weight-light">
      <div class="sub-title mt-3 text-danger">
        Timefoxwatch.com is an online watch store that was developed in React-Redux environment
        with advanced features of a real-life eCommerce web application.
      </div>
      <div class="mt-3">
        <p>As a Web Developer, I have always wanted to build an Ecommerce App. I wanted to know how to implement Add to Cart, Payment Gateways, Order Management System and so much more, so I decided to build my first eCommerce web app in my favorite JavaScript framework - React.js. Whole web platform (back-end and front-end) was completely done by me. Overall, about two months of my full-time work resulted in a responsive web application, with features like: </p>
      </div>
      <ul>
        <li><span class='font-weight-bold'>For user usage:</span>
          Search products based on particular category,
          View product with zoom-in feature,
          Advance search based on category and price range,
          Related product,
          Load more products.
          Adjust quantity
          Signin to checkout
          Shopping cart
          Checkout with credit card and paypal
          Update profile, and a lot more.
        </li>
        <li><span class='font-weight-bold'>For admin usage:</span>
          Create product/category,
          Remove product/category,
          View and manage orders,
          Manage products update/delete,
          Role based access.
        </li>
      </ul>
      <div class="techs"><a href="http://timefoxwatch.com/" target="_blank"><i
            class="fa fa-share-square-o" aria-hidden="true"></i> View online</a></div>
    </div>
    <div class="col col-md-6 col-12">
      <div class="title-2 font-weight-bold mb-4">Tech wrap-up</div>
      <li>Responsive React/Redux web application rendering well on a variety of devices and window or screen sizes.</li>
      <li>Back-end server using Node.js, Express.js and Mongo taking advantage of well-developed RESTful API and following MVC Pattern. </li>
      <li>Braintree Sandbox as a testing environment for checkout feature.</li>
      <li>AWS S3 and EC2 for product deployment.</li>
      <div class="mt-5 font-weight-light">Technologies used</div>
      <div class="mt-3">
        <a href="https://reactjs.org/" target="_blank"><span class="tech-use font-weight-light">REACT/REDUX</span></a>
        <a href="https://nodejs.org/en/" target="_blank"><span class="techs">Node.js</span></a>
        <a href="https://expressjs.com/en/starter/installing.html" target="_blank"><span class="tech-use font-weight-light">EXPRESS.JS</span></a>
      </div>
    </div>
  </div>
  <div class="demo-images">
    <img src="../../assets/timefoxwatch/im1.png" class="images mt-4">
     <img src="../../assets/timefoxwatch/im2.png" class="images mt-4">
     <img src="../../assets/timefoxwatch/im3.png" class="images mt-4">
     <img src="../../assets/timefoxwatch/im4.png" class="images mt-4">
     <img src="../../assets/timefoxwatch/im5.png" class="images mt-4">
     <img src="../../assets/timefoxwatch/im6.png" class="images mt-4">
     <img src="../../assets/timefoxwatch/im7.png" class="images mt-4">
     <img src="../../assets/timefoxwatch/im8.png" class="images mt-4">
     <img src="../../assets/timefoxwatch/im9.png" class="images mt-4">
     <img src="../../assets/timefoxwatch/im10.png" class="images mt-4">
     <img src="../../assets/timefoxwatch/im11.png" class="images mt-4">
     <img src="../../assets/timefoxwatch/im12.png" class="images mt-4">
     <div class=" row">
        <div class="col-6">
            <img src="../../assets/timefoxwatch/phone9.jpg" class="images mt-4">
        </div>
        <div class="col-6">
            <img src="../../assets/timefoxwatch/phone10.jpg" class="images mt-4">
          </div>
     </div>
     <div class=" row">
        <div class="col-6">
            <img src="../../assets/timefoxwatch/phone1.jpg" class="images mt-4">
        </div>
        <div class="col-6">
            <img src="../../assets/timefoxwatch/phone2.jpg" class="images mt-4">
          </div>
     </div>
     <div class=" row">
        <div class="col-6">
            <img src="../../assets/timefoxwatch/phone3.jpg" class="images mt-4">
        </div>
        <div class="col-6">
            <img src="../../assets/timefoxwatch/phone4.jpg" class="images mt-4">
          </div>
     </div>
     <div class=" row">
        <div class="col-6">
            <img src="../../assets/timefoxwatch/phone5.jpg" class="images mt-4">
        </div>
        <div class="col-6">
            <img src="../../assets/timefoxwatch/phone6.jpg" class="images mt-4">
          </div>
     </div>
     <div class=" row">
        <div class="col-6">
            <img src="../../assets/timefoxwatch/phone7.jpg" class="images mt-4">
        </div>
        <div class="col-6">
            <img src="../../assets/timefoxwatch/phone8.jpg" class="images mt-4">
          </div>
     </div>

  </div>
</div>
