<div class= "wrapper mx-md-5 mx-4">
    <div class="title pt-4">My Professional Website</div>
    <div class="sub-title pt-3"></div>
  <div class ="row">
    <div class="col col-md-6 col-12 border-right font-weight-light">
        <div class="sub-title mt-3">
            This is my professional website. I use it to showcase the projects I have done since I started learning about web development.
            I designed and implemented this site in summer 2019. It took me about 2 weeks to get the work done.
        </div>
        <div class="techs"><a href="tnduy.me" target="_blank"><i class="fa fa-share-square-o" aria-hidden="true"></i> View online</a></div>
    </div>
     <div class="col col-md-6 col-12">
        <div class="title-2 font-weight-bold">Tech wrap-up</div>
        <li>Single-page web application ultilizing Angular routing.</li>
        <li>Reponsive site rendering well on a variety of devices and window or screen sizes with Bootstrap grid system and Angular Material.</li>
        <li>Static website hosting with AWS S3 with custom domain.</li>
        <div class="mt-5 font-weight-light">Technologies used</div>
        <div class="mt-3 ">

            <a href="https://material.angular.io/" target="_blank"><span class="techs">Angular Material</span></a>
            <a href="https://getbootstrap.com/" target="_blank"><span class="techs">Bootstrap</span></a>
        </div>
     </div>
    </div>
  <div class= "demo-images">
    <img src= "../../../assets/portfolio/po1.png" class="images mt-4">
    <img src= "../../../assets/portfolio/po2.png" class="images mt-4">
    <img src= "../../../assets/portfolio/po3.png" class="images mt-4">
    <img src= "../../../assets/portfolio/po4.png" class="images mt-4">
    <div class=" row">
        <div class="col-6">
            <img src="../../assets/portfolio/p0.jpg" class="images mt-4">
        </div>
        <div class="col-6">
            <img src="../../assets/portfolio/p1.jpg" class="images mt-4">
          </div>
     </div>
     <div class=" row">
        <div class="col-6">
            <img src="../../assets/portfolio/p2.jpg" class="images mt-4">
        </div>
        <div class="col-6">
            <img src="../../assets/portfolio/p3.jpg" class="images mt-4">
          </div>
     </div>
</div>
</div>
