<div class= "wrapper mx-md-5 mx-4">
  <div class="title mt-4">Expensify</div>
  <div class="sub-title mt-3">An online expense tracking app.</div>
<div class ="row">
  <div class="col col-md-6 col-12 border-right font-weight-light">
      <div class="sub-title mt-3">
          The application helped users track their income, expenses and offered them a snapshot of their remaining budget to help them avoid overspending
      </div>
      <div class="mt-3">
        <p>This was my first web application writen in React-Redux environment. Whole web platform (back-end and front-end) was completely done by me. Overall,
           about 1 month of my full-time work resulted in a responsive web application, with features like: </p>
      </div>
      <ul>
        <li>Register/LogIn/LogOut.</li>
        <li>Add/edit/remove an expense.</li>
        <li>Search by name/filter by date and amount</li>
      </ul>
      <div class="techs"><a href="http://expensify-budget-app.s3-website.us-east-2.amazonaws.com/" target="_blank"><i class="fa fa-share-square-o" aria-hidden="true"></i> View online</a></div>
  </div>
   <div class="col col-md-6 col-12">
      <div class ="title-2 font-weight-bold">Tech wrap-up</div>
      <li>Single-page Application written in React</li>
      <li>Firebase back-end services, including authentication, database and API.</li>
      <li>Responsive web application rendering well on a variety of devices and window or screen sizes.</li>
      <li>Redux for state management</li>
      <div class="mt-5 font-weight-light">Technologies used</div>
      <div class="mt-3 ">
          <a href="https://reactjs.org/" target="_blank"><span class="techs font-weight-light">REACT</span></a>
          <a href="https://redux.js.org/" target="_blank"><span class="techs font-weight-light">REDUX</span></a>
          <a href="https://firebase.google.com/" target="_blank"><span class="techs font-weight-light">FIREBASE</span></a>
      </div>
   </div>
  </div>
<div class= "demo-images">
  <img src= "../../assets/budget-app/seven.png" class="images mt-4">
  <img src= "../../assets/budget-app/two.png" class="images mt-4">
  <img src= "../../assets/budget-app/three.png" class="images mt-4">>
  <img src= "../../assets/budget-app/four.png" class="images mt-4">
  <img src= "../../assets/budget-app/five.png" class="images mt-4">
  <img src= "../../assets/budget-app/six.png" class="images mt-4">
</div>
</div>
