@media screen and (min-width: 990px){
  .techs{
    width: 40%;
    color: white;
    text-align: center;
    margin: 10px;
    padding:10px 10px;
    background-color:  rgb(49, 127, 172);
    font-size: 14px;
    margin-top: 120px;
  }
}
@media screen and (max-width: 990px){
  .techs{
    width: 60%;
    color: white;
    text-align: center;
    margin: 10px;
    padding:10px 10px;
    background-color:  rgb(49, 127, 172);
    font-size: 14px;
    margin-top: 20px;
  }
}
.images{
  width: 100%;
}
.wrapper{
  font-size: 16px;
}
.title{
  font-size: 30px;
  -webkit-transform: scale(1, 1.2);
  color: brown;
}
.sub-title{
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
}
.front-end, .back-end{
  font-size: 20px;
}
.title-2{
  font-size: 24px;
  color:brown;
}
a{
  color: white;
}
