<div class= "wrapper mx-md-5 mx-4">
  <div class="title pt-4">AnguBetta Store</div>
  <div class="sub-title pt-3">An online expense tracking app.</div>
<div class ="row">
  <div class="col col-md-6 col-12 border-right font-weight-light">
      <div class="sub-title mt-3">
        AnguBetta is an E-commerce web app. The application worked as a Betta fish store in
        which users can explore an amazing world of Betta fish
        and pick their favorite one for a reasonable price.
      </div>
      <div class="mt-3">
        <p>This application is 60% completed. Some front-end and back-end implementation still needs to be done, including fetching data from the server,
          user's shopping cart and orders, user checkout and so on. I'm currently in my senior year
          of college,so it is pretty hard for me to have a lot of time for it. I expect to get the work done in 3-4 months.
            </p>
      </div>
      <div class="techs"><a href="http://angubetta-app.s3-website.us-east-2.amazonaws.com/home" target="_blank"><i class="fa fa-share-square-o" aria-hidden="true"></i> View online</a></div>
  </div>
   <div class="col col-md-6 col-12">
      <div class ="title-2 font-weight-bold">Tech wrap-up</div>
      <li>Responsive web application rendering well on a variety of devices and window or screen sizes.</li>
      <li>Stand-alone Frontend Angular app, which connects to the API server via HTTP.</li>
      <li>Create an extensive backend API with Express.js and Node.js.</li>
      <li>Continuous deployment using AWS CodePipeLine and GitHub.</li>
      <div class="mt-5 font-weight-light">Technologies used</div>
      <div class="mt-3 ">
          <a href="https://angular.io/" target="_blank"><span class="techs">Angular</span></a>
          <a href="https://nodejs.org/en/" target="_blank"><span class="techs">Node.js</span></a>
          <a href="https://getbootstrap.com/" target="_blank"><span class="techs">Bootstrap</span></a>
      </div>
   </div>
  </div>
<div class= "demo-images">
  <img src= "../../assets/angubetta/one.png" class="images mt-4">
  <img src= "../../assets/angubetta/two.png" class="images mt-4">
  <img src= "../../assets/angubetta/five.png" class="images-mini mt-4">
  <img src= "../../assets/angubetta/six.png" class="images-mini mt-4">
  <img src="../../assets/angubetta/three.png" class="images mt-4">>
  <img src= "../../assets/angubetta/four.png"class="images mt-4">
</div>
</div>
