<div class="wrapper mx-md-5 mx-4">
  <div class="title pt-4">Epic team builder app</div>
  <div class="row">
    <div class="col col-md-7 col-12 border-right font-weight-light">
      <div class="sub-title mt-3 text-danger">
        Epic team builder is a program automates the process of building teams
        and allows users to select team formations based on a variety of desired
        factors.
      </div>
      <div class="mt-3 mb-4">
        <div>
          It was the project I had for my senior design project at UTD. Along
          with the other team members, I created a user-friendly, platform
          agnostic, standalone application that was used to generate teams for
          the UTDesign EPICS program. Along the way we also attempted to improve
          the existing algorithm in order to create more, well balanced teams.
        </div>
        <div class="mt-3">
          This project delivered the improvement of functionality present in the
          current application and made forming a team more robust. We modified
          the existing algorithm used to automate the team formation and make it
          more efficient. In addition, the variables processed via the user
          interface, such as team size and number of choices, were adjusted by
          using this algorithm.
        </div>
        <div class="mt-3"></div>
      </div>
      <div class="techs">
        <a href="http://epics-team-builder.s3-website-us-east-1.amazonaws.com/" target="_blank"
          ><i class="fa fa-share-square-o" aria-hidden="true"></i> View
          online</a
        >
      </div>
    </div>
    <div class="col col-md-5 col-12">
      <div class="title-2 font-weight-bold mb-4">Tech wrap-up</div>
      <ol class="mt-3 mb-5">
        <li>Single-page React application</li>
        <li>Redux for state management and data transition</li>
        <li>Bootstrap and CSS grid for styling</li>
      </ol>
      <div class="mt-5 font-weight-light">Technologies used</div>
      <div class="mt-3">
        <a href="https://reactjs.org/" target="_blank"><span class="techs font-weight-light">React</span></a>
        <a href="https://redux.js.org/" target="_blank"><span class="techs font-weight-light">Boostrap</span></a>
        <a href="https://redux.js.org/" target="_blank"><span class="techs font-weight-light">Redux</span></a>
      </div>
    </div>
  </div>
  <div class="demo-img-fluid p-lg-4">
    <img src="../../assets/epicsteambuilder/pic1.png" class="img-fluid p-lg-4 mt-4" />
    <img src="../../assets/epicsteambuilder/pic2.png" class="img-fluid p-lg-4 mt-4" />
    <img src="../../assets/epicsteambuilder/pic3.png" class="img-fluid p-lg-4 mt-4" />
    <img src="../../assets/epicsteambuilder/pic4.png" class="img-fluid p-lg-4 mt-4" />
    <img src="../../assets/epicsteambuilder/pic5.png" class="img-fluid p-lg-4 mt-4" />
  </div>
</div>
