<div class= "wrapper mx-md-5 mx-4">
  <div class="title pt-4">Ultimate-Authentication</div>
  <div class="sub-title pt-3"></div>
<div class ="row">
  <div class="col col-md-6 col-12 border-right font-weight-light">
      <div class="sub-title mt-3">
        This project is an ultimate authentication system for web apps with features like account activation, forgot password, reset password, login with Facebook as well
        as Google using private and protected routes for authenticated user and users with the role of admin. I found it time-consuming and
         and effort-wasting repeating building a user authentication system for each web app, so I decided to build a product ready authentication system
         for all the web apps I will make in the future.
      </div>
      <div class="techs"><a href="http://ultimate-authentication.s3-website-us-east-1.amazonaws.com/" target="_blank"><i class="fa fa-share-square-o" aria-hidden="true"></i> View online</a></div>
  </div>
   <div class="col col-md-6 col-12">
      <div class="title-2 font-weight-bold">Tech wrap-up</div>
      <li>Front-end was written down in React environment.</li>
      <li>Back-end server using Node.js, Express.js and MongoDB taking advantage of well-developed RESTful API. </li>
      <li>Utilizing SendGrid service to implement account acctivation and reset password</li>
      <div class="mt-5 font-weight-light">Technologies used</div>
      <div class="mt-3 ">

        <a href="https://reactjs.org/" target="_blank"><span class="techs font-weight-light">React</span></a>
        <a href="https://nodejs.org/en/" target="_blank"><span class="techs">Node.js</span></a>
        <a href="https://expressjs.com" target="_blank"><span class="techs font-weight-light">Express.js</span></a>
      </div>
   </div>
  </div>
<div class= "demo-images text-center">
  <img src= "../../../assets/authenticate/Untitled.png" class="images mt-4">
  <img src= "../../../assets/authenticate/img2.png" class="images mt-4">
  <img src= "../../../assets/authenticate/im3.png" class="images mt-4">
  <img src= "../../../assets/authenticate/img4.png" class="images mt-4">
  <img src= "../../../assets/authenticate/img5.png" class="images mt-4">
</div>
</div>
