.container-fluid{
  padding-bottom: 50px;
  height: auto;
  background-color:rgba(255, 255, 255, 0.774);
  font-weight: 300;
  font-size: 16px;
}

@media screen and (min-width: 768px){
  .container-fluid{
    padding-left: 65px;
    float: left;
    width: 100%;
    font-size: 16px;
  }
  .title{
    font-size: 35px;
    font-weight: bolder;
    color:black;
  }
  .subtile{
    font-size: 30px;
  }
}
@media screen and (max-width: 768px){
  .title{
    font-size: 30px;
    color:black;
    text-align: center;
  }
  .subtile{
    font-size: 19px;
  }
}
.title{
  font-weight: bold;
}
.bold{
  font-weight: 500;
}
.subtile{
  font-weight: 500;
  color: red;
}

.highlight {
  font-style: italic;
  font-size: 18px;
};

.italic{
  font-style: italic;
  font-size: 16px;
}
