<div class="container-fluid">
  <div class="title ml-md-5 ml-0">CONTACT ME</div>
  <hr class="d-lg-block d-none">
  <div class="sub-title mt-3 ml-md-5">I am available for hire and open to any ideas of cooperation.</div>
  <div class= "ml-md-5 email">E-mail: <span class ="link ml-2"><a href="mailto:duytruong169@gmail.com" ><i class="fa fa-envelope-open"></i> duytruong169@gmail.com</a></span></div>
  <div class= "ml-md-5 git">Linkedln: <span class ="link ml-2"><a href="https://github.com/duytruong0916"><i class="fa fa-github icon" ></i> duytruong0916</a></span></div>
  <div class= "ml-md-5 email">Github: <span class ="link ml-2"><a href="https://github.com/duytruong0916"><i class="fa fa-github icon" ></i> duytruong0916</a></span></div>
  <div class= "ml-md-5 fb">Facebook: <span class ="link ml-2"><a href="https://www.facebook.com/nhatduy.truong.90"><i class="fa fa-facebook icon" ></i> DuyTruong</a></span></div>
  <div class= "ml-md-5 last">Instagram: <span class ="link ml-2"><a  href="https://www.instagram.com/nhatduy.truong.90/"><i class="fa fa-instagram icon" ></i> nhatduy.truong.90</a></span></div>
</div>
