.container-fluid {
  min-height: 100vh;
  background-color: white;
  font-weight: 300;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .container-fluid {
    padding-left: 65px;
    float: left;
    width: 85%;
    font-size: 16px;
  }
  .title {
    font-size: 40px;
    font-weight: bold;
    color: black;
  }
  .sub-title {
    font-weight: bold;
    font-size: 18px;
  }
  .git {
    margin-top: 50px;
  }
  .email,
  .fb,
  .last {
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .title {
    margin-top: 20px;
    font-size: 30px;
    color: black;
    text-align: center;
  }
  .sub-title {
    color: black;
    font-weight: bold;
  }
  .git {
    margin-top: 30px;
  }
  .email,
  .fb,
  .last {
    margin-top: 10px;
  }
}
.title {
  font-weight: bold;
}
.link,
a {
  color: brown;
}
i {
  margin-right: 5px;
  font-size: 20px;
}
.github {
  margin-top: 50px;
}

.card-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.card-link:hover {
  cursor: pointer;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
}
